<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <melhorenvios>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Lb\MelhorEnvios\Model\Carrier\MelhorEnvios</model>
                <name>Melhor Envios</name>
                <add_days>0</add_days>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </melhorenvios>
        </carriers>
    </default>
</config>
