<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="melhorenvios" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Melhor Envios</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="token" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Token</label>
                </field>
                <field id="attributesmapping" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product attributes mapping</label>
                    <frontend_model>Lb\MelhorEnvios\Block\Adminhtml\System\Config\Fieldset\Mapping</frontend_model>
                    <backend_model>Lb\MelhorEnvios\Model\Adminhtml\Attribute\Validation\Mapping</backend_model>
                </field>
                <field id="availablemethods" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="1">
                    <label>Available shipping methods</label>
                    <source_model>Lb\MelhorEnvios\Model\System\Config\Source\Method</source_model>
                </field>
                <field id="add_days" translate="label comment" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Adding days to delivery time</label>
                    <validate>integer validate-zero-or-greater</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="text_days" translate="label comment" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text delivery time</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
            </group>
        </section>
    </system>
</config>
