<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="melhorenvios" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Melhor Envios</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="token" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Token</label>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Environment</label>
                    <source_model>Lb\MelhorEnvios\Model\System\Config\Source\Environment</source_model>
                </field>
                <field id="taxvat" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CPF / CNPJ</label>
                </field>
                <field id="state_register" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>State register</label>
                </field>
                <field id="attributesmapping" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product attributes mapping</label>
                    <frontend_model>Lb\MelhorEnvios\Block\Adminhtml\System\Config\Fieldset\Mapping</frontend_model>
                    <backend_model>Lb\MelhorEnvios\Model\Adminhtml\Attribute\Validation\Mapping</backend_model>
                </field>
                <field id="availablemethods" translate="label" type="multiselect" sortOrder="3" showInDefault="1" showInWebsite="1">
                    <label>Available shipping methods</label>
                    <source_model>Lb\MelhorEnvios\Model\System\Config\Source\Method</source_model>
                </field>
                <field id="add_days" translate="label comment" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Adding days to delivery time</label>
                    <validate>integer validate-zero-or-greater</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="text_days" translate="label comment" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text delivery time</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="free_shipping_enabled" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Shipping Eligible</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="free_shipping_text" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text free shipping</label>
                    <depends>
                        <field id="active">1</field>
                        <field id="free_shipping_enabled">1</field>
                    </depends>
                </field>
                <field id="add_days_free_shipping" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Adding days to delivery when free shiping is enable</label>
                    <validate>integer validate-zero-or-greater</validate>
                    <depends>
                        <field id="active">1</field>
                        <field id="free_shipping_enabled">1</field>
                    </depends>
                </field>
                <field id="free_shipping_service" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Method</label>
                    <source_model>Lb\MelhorEnvios\Model\System\Config\Source\Method</source_model>
                    <tooltip>This service must be enabled</tooltip>
                    <depends>
                        <field id="active">1</field>
                        <field id="free_shipping_enabled">1</field>
                    </depends>
                </field>
                <field id="free_shipping_service_fallback" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Method fallback</label>
                    <source_model>Lb\MelhorEnvios\Model\System\Config\Source\Method</source_model>
                    <tooltip>Used if the main carrier / method is not available for this location</tooltip>
                    <depends>
                        <field id="active">1</field>
                        <field id="free_shipping_enabled">1</field>
                    </depends>
                </field>
                <field id="insurance_value" translate="select" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Insurance value</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="receipt" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Receipt</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="own_hand" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Own hand</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="jadlog_agency" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1">
                    <label>Jadlog Agency</label>
                    <source_model>Lb\MelhorEnvios\Model\System\Config\Source\AgencyJadlog</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
